html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: #71c5cf;
  touch-action: manipulation;
}

#board {
  background-image: url("./images/flappybirdbg.png");
  cursor: default;
}
